# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv files
.env
.env.local
.env.*.local

# React build
/build

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# Coverage reports
coverage/

# Optional
dist/
